/* ===== Scroller Wrapper ===== */
.projects-wrapper {
  position: relative;
  width: 100%;
  height: calc(var(--vh) * 100);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
  background: radial-gradient(circle at top, rgb(var(--background)) 20%, rgb(var(--background-contrast)) 90%);
  mask: linear-gradient(0deg, transparent, white 10%, white 90%, transparent);
}

.projects-main {
    width: 80%;
    height: 80%;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.projects-display-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.projects-display-2 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    border-left: 1rem solid rgb(var(--background));
}

.projects-display-3 {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    border-left: 1rem solid rgb(var(--background));
}

.projects-description {
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
    background-color: rgb(var(--background));
}

.scroller {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.scroller_card {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.scroller_card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 0.3s ease;
  opacity: 0.6;
  filter: brightness(50%) grayscale(80%);
  transition: filter 0.3s ease, transform 0.3s ease;
}

#card-1-2 {
    display: none;
}

.scroller_card:hover > img {
    filter: brightness(100%);
    transform: scale(1.1);
}

/* ===== Card Text Overlay ===== */
.scroller_card > a {
  text-decoration: none;
  position: absolute;
  padding: 0.5rem;
  bottom: 1rem;
  left: 0;
  margin: 0;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  transition: transform 0.3s ease, margin 0.3s ease;
}

.scroller_card:hover > a {
    margin-left: 1rem;
    transform: scale(1.2);
}

.section-introduction {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 1rem;
  padding: 1.2rem 4rem;
  margin: 0;

  z-index: 10;
}

.section-introduction .title {
  padding: calc(var(--vh) * 1) 0;
  text-transform: uppercase;
  color: rgb(var(--text-2));
  font-weight: 300;
  font-size: 4rem;
}

.section-introduction .description {
  text-align: justify;
  margin-bottom: calc(var(--vh) * 2);
  font-weight: 100;
  font-size: 1.2rem;
  color: rgb(var(--highlight-1));
}
