.about-me-wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  background: radial-gradient(circle at bottom right, rgb(var(--background-contrast)) 5%, rgb(var(--background)) 50%);
  mask: linear-gradient(0deg, white 95%, transparent);

  gap: 5rem;
}

.about-me-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 0.5rem 2rem;
}

.entry {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  font-weight: 200;
  font-size: 1.2rem;
  color: rgb(var(--highlight-1));

  user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
}

.contact-links {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.contact-links i {
  font-size: 2rem;
  transition: transform 0.3s ease;
}

.contact-links a {
  text-decoration: none;
  color: rgb(var(--text-1));
}

.contact-links i:hover {
  cursor: pointer;
  transform: translateY(-4px);
}

@media (max-width: 900px) {
  .about-me-footer {
    padding: 0.4rem;
  }
  
  .contact-links i {
    font-size: 1.2rem;
  }
  
  .entry {
    font-size: 1rem;
  }
}

@media (max-height: 900px) {
  .section#about-me {
    height: 100%;
  }
}

@media (max-width: 476px) {
  .about-me-wrapper {
    gap: 0;
    mask: none;
  }
  
  .about-me-footer {
    padding: 0.2rem;
    justify-content: center;
  }

  .contact-links {
    gap: 1rem;
  }
  
  .contact-links i {
    font-size: 0.8rem;
  }
  
  .entry {
    font-size: 0.6rem;
  }
}
